<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/career_connect_white_bg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/career_connect_white_bg"
        android:supportsRtl="true"
        android:theme="@style/Theme.CareerConnect"
        tools:targetApi="31">
        <activity
            android:name=".Activity.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SignUpActivity"
            android:theme="@style/signUpInActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".Activity.IntroActivity"
            android:theme="@style/splashScreenTheme"
            android:exported="false" />
        <activity
            android:name=".Activity.WalkThroughActivity"
            android:exported="true"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SplashScreen"
            android:exported="true"
            android:theme="@style/splashScreenTheme" />
    </application>

</manifest>